a {
    width: 100%;
    padding: 0;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-right: 0;
}

.card-body  {
    word-break:break-word;
    /*width: 90%;*/
    background-color: mintcream;
}

.card {
    margin-top: 10px;
    padding-top: 10px;
    paddding-right: 0;
    background-color: mintcream;
}

.profile {
    width:150px;
    margin:10px;
}