.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.card-body  {
    word-break:break-all;
    background-color: mintcream;
}

.card {
    margin-top: 10px;
    padding-top: 10px;
    background-color: mintcream;
}

.profile {
    width:150px;
    margin:10px;
}