.App-logo {

    height: 8vmin;
    display: inline;
    pointer-events: none;
    margin-right: 20px;
}

li {
    color: white;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    min-width: 100%;
    /*display: 100%;*/
    flex-direction: row;
    align-items: center;
    /*justify-content: left;*/
    font-size: 80%;
    color: white;
}


.navbar .username {
    padding: 5px;
}

.navbar {
    background-color: #062c33;
}

