/*.App {*/
/*    text-align: center;*/
/*}*/

.App-logo {
//animation: App-logo-spin infinite 20s linear;
    height: 8vmin;
    display: inline;
    pointer-events: none;
    margin-right: 20px;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    min-width: 100%;
    /*display: 100%;*/
    flex-direction: row;
    align-items: center;
    /*justify-content: left;*/
    font-size: 80%;
    color: white;
}

/*.App-link {*/
/*    color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
