.form {
    font-family: Raleway, serif;
    color: #062c33;
}

.App-logo-header {
    height: 100%;
    display: inline;
    pointer-events: none;
    alignment: right
;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}